html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
